html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.col-3 {
    height: 100px;
    width: 33.333%;
    margin: .5rem;
}

.row {
    margin-left: 50px;
    margin-right: 50px;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}

/* Box Model */

*, *:before, *:after {
    box-sizing: border-box;
}

/* Containers */

.container {
    margin-left: auto;
    margin-right: auto;
}

/* Basic */

body, input, select, textarea {
    color: #474747;
    font-family: 'Montserrat', sans-serif;
    font-size: 16pt;
    font-weight: 300;
    line-height: 1.65em;
}

a {
    transition: color 0.2s ease-in-out, border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
    color: #37c0fb;
    text-decoration: none;
    border-bottom: dotted 1px;
}

a:hover {
    color: #37c0fb;
    border-bottom-color: transparent;
}


em, i {
    font-style: italic;
}

p, ul, ol, dl, table, blockquote {
    margin: 0 0 2em 0;
}

h1, h2, h3, h4, h5, h6 {
    color: inherit;
    font-weight: 600;
    line-height: 1.75em;
    margin-bottom: 1em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
    text-decoration: none;
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-style: normal;
    font-weight: 300;
}


header p {
    color: #999;
    font-size: 1.25em;
    position: relative;
    margin-top: -1.25em;
    margin-bottom: 2.25em;
}

/* Icon */

.icon {
    text-decoration: none;
    position: relative;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'FontAwesome', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.icon > .label {
    display: none;
}

.icon.major {
    text-align: center;
    cursor: default;
    background-color: #5bf7fa;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    width: 5em;
    height: 5em;
    line-height: 5em;
    box-shadow: 0 0 0 7px white, 0 0 0 8px #e0e0e0;
    margin: 0 0 2em 0;
}

.icon.major:before {
    font-size: 36px;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button[type="submit"],
.button {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    background-color: #5bf7fa;
    border-radius: 5px;
    border: 0;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 0 1.5em;
    line-height: 2.75em;
    min-width: 9em;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: -0.025em;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background-color: #50c8fb;
    color: #fff !important;
}


/* Box */

.box.highlight {
    text-align: center;
}

/* Header */

#header {
    text-align: center;
    padding: 3em 0 0 0;
    background-color: #fff;
    background-position: top left,					top left,					top left;
    background-size: 100% 6em,					100% 6em,					auto;
    background-repeat: no-repeat,					no-repeat,					repeat;
}


#header h1 a {
    font-size: 1.5em;
    letter-spacing: -0.025em;
    border: 0;
}

#nav {
    cursor: default;
    background-color: #333;
    padding: 0;
}

#nav:after {
    content: '';
    display: block;
    width: 100%;
    height: 0.75em;
    background-color: #5bf7fa;
}

#nav > ul {
    margin: 0;
}

#nav > ul > li {
    position: relative;
    display: inline-block;
    margin-left: 1em;
}

#nav > ul > li a {
    color: #c0c0c0;
    text-decoration: none;
    border: 0;
    display: block;
    padding: 1.5em 0.5em 1.35em 0.5em;
}

#nav > ul > li:first-child {
    margin-left: 0;
}

#nav > ul > li:hover a {
    color: #fff;
}

#nav > ul > li.current {
    font-weight: 600;
}


/* Wrapper */

.wrapper {
    padding: 5em 0 3em 0;
    background: #fff;
}


.create-test-form{
    text-align: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding: 10px 30px 10px 20px;
}

table{
    border: 2px solid black;
}
td, th{
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
    text-align: center;
}
